<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Listando Administradores</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>              
        <tbody>
          <% @admins.each do |admin| %>
          <tr>
            <td> <%= admin.id %> </td>
            <td> <%= admin.email %> </td>
            <td style="width: 100px;"> 
              <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-primary btn-circle btn-sm" do %>
                <i class="far fa-edit"></i>
              <% end %>
              <a href="#" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr> 
          <% end %>                 
        </tbody>
      </table>
    </div>
  </div>
</div>
